.fixed {
            position: fixed;
            top:0; left:0;
            width: 100%; 
            z-index:99; }

/* Style for the scroll to top button */
#scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

/* Optional: Style the button on hover */
#scrollToTopBtn:hover {
  background-color: #0056b3;
}

/* Header styling */
.navbar {
    margin-bottom: 20px;
    background-color: #343a40;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-link {
    font-size: 1rem;
    padding: 10px;
    color: #f8f9fa;
}

.navbar-toggler {
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffc107;
}

/* Footer styling */
.footer {
    background-color: #343a40;
    padding: 40px 0;
    color: #f8f9fa;
}

.footer h5 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #fff;
}

.footer p, .footer a {
    font-size: 0.875rem;
    color: #f8f9fa;
}

.footer a:hover {
    text-decoration: none;
    color: #ffc107;
}

.footer .list-unstyled {
    padding-left: 0;
    list-style: none;
}

.footer .list-unstyled li {
    margin-bottom: 10px;
}

.footer hr {
    border-top: 1px solid #555;
}

.footer .text-muted {
    margin: 0;
    font-size: 0.875rem;
    color: #888;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }

    .footer .row > div {
        margin-bottom: 20px;
    }
}

#sfgenerator, #helpfulinfo {
            padding: 0px 100px;
}

@media (max-width: 800px) {
    #sfgenerator, #helpfulinfo {
            padding: 0px 10px;
}
}
